<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>파이널 프로젝트 - DOIT</title>
  <link rel="shortcut icon" href="../resources/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="../resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="../resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../resources/css/resume.css" rel="stylesheet">
  <link href="../resources/css/modal.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary4 fixed-top" id="sideNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html#Project"><i class="fas fa-arrow-left"> BACK</i></a>
        </li>
    </ul>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../resources/img/final/doit_logo.jpg" alt="" style="max-width: 120%;">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#fianlProject">Final Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Project">Project</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#mycode">mycode</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#review">review</a>
        </li>
        <br><br>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/FINALDOIT001/doit007">Project GITHUB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../resources/doit_ppt.pptx">DOIT PPT파일</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0" style="width: 1400px !important;">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="finalProject" style="width: 1400px !important;">
      <div class="w-100" style="width: 1400px !important;">
        <h1 class="mb-0"><span class="kwon-01">Final Project</span><br>
          <span class="text-primary4">DO IT</span>
        </h1>

      </div>
    </section>

    <hr class="m-0">
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">ABOUT</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Final Project</h3>
            <div class="subheading mb-3"></div>
            <div>구현기간 <br>
                기획 : <span class="text-primary">2020-03-11 ~ </span><br>
                구현 : <span class="text-primary">2020-04-01 ~ 2020-04-30</span></div><br>
            <p>주제 : IT 스터디 이용에 편리함을 주고자 하는 사이트.
                </p>
            <p>&lt;개발환경&gt;<br>language : JAVA, HTML5, CSS3, JavaScript<br>Tools : eclipse(STS), Visual Studio Code, sqldeveloper<br>
              DBMS : Oracle DB<br>
              Server : Apache Tomcat 8.5<br>
              Framework : Spring
            </p>
            <p>Spring 프레임워크 기반의 홈페이지로 구성되어 있습니다. </p>


          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Project" style="width: 1300px !important;">
      <div class="container" style="width: 1300px !important;">
      <div class="w-100 thumbnailBody" style="width: 1300px !important;">
        <h2 class="mb-5">Project</h2>
        
        <table>
          <tr>
            <td><img src="../resources/img/final/doit_01_main_line.jpg" class="kwon-img01"></td>
          </tr>
          <tr>
            <td class="kwon-td02">프로젝트 메인 화면입니다.<br>
              메뉴는 HOME, ABOUT, STUDY, COMMUNITY, EVENT로 되어 있습니다.<br>
              그 외 마이페이지, ADMIN 페이지 등으로 구성되어 있습니다.<br>
              
            </td>
          </tr>
        </table>

        <table>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_02_join01.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_03_join02.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">회원 가입 화면입니다.<br>기본적인 필수 약관 체크후 넘어갈 수 있습니다.</td>
            <td class="kwon-td03">회원 가입때 아이디 중복 체크는 ajax를 써서 자동으로 체크합니다.<br>
              비밀번호 확인, 이메일은 유효성 검사처리 되어 있습니다.<br>
              주소는 다음 주소검색 API를 사용했습니다.</td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_04_loginmain.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_06_message02.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">로그인 후 메인화면입니다.<br>
              이름 왼쪽에 쪽지 기능이 있고, 새로온 메시지가 있는 것을 확인할 수 있습니다.
            </td>
            <td class="kwon-td03">쪽지 기능에서는 자신이 속한 그룹원을 보여줍니다.<br>
              키보드 ↓를 누르면 자신이 속한 그룹이 있으면 그룹원을 보여줍니다.<br>
              받은쪽지함, 새로온 쪽지함, 보낸 쪽지함, 삭제, 답신이 가능합니다.
            </td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_07_studyList.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_08_studyDetail01.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">스터디 리스트입니다.<br>
               제목, 모집중or모집종료, 개설자, 현인원/최대인원, 지역, 보증금입니다.<br>
               SELECT 검색 기능이 들어 있습니다.
            </td>
            <td class="kwon-td03">개설 후 세부 디테일 화면입니다.<br>
              스터디 가입, 모집인원 등 세부 내용을 볼 수 있고<br>
              참석자들의 프로필사진과 이름이 나오게 만들었습니다.
            </td>
          </Tr>

          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_09_studyDetail02.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_10_studyDetail03.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">일정등록을 누르면 보여지는 화면입니다.<br>
              일정제목, 날짜, 시간, 모일 장소등을 입력할 수 있고<br>
              주소를 입력하면 지도에 나오도록 만들었습니다.
            </td>
            <td class="kwon-td03">일정을 등록하면 캘린더에 등록됩니다.
            </td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_11_studyDetail04.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_12_studyDetail05.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">일정 디테일 화면입니다.<br>
              스터디 개설자일 경우 아래쪽에 수정, 삭제, 출석버튼이 추가됩니다.
            <td class="kwon-td03">출석 같은 경우는 다음과 같이<br>
              각자 그 일정에 출석을 했는지, 하지 않았는지를 체크 후 등록할 수 있습니다.<br>
              스터디 개설자가 아닌 경우는 아래쪽 수정 버튼이 보이지 않습니다.
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_14_studyCannot.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_13_studyEtc.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">프리미엄 게시판 기능입니다.<br>
            마일리지(재화, 돈)를 내고 자료실, 갤러리 기능을 오픈할 수 있습니다.</td>
            <td class="kwon-td03">자료실과 갤러리 같은 경우는<br> 
              스터디에 도움이 될 만한 자료를 올리거나 단순 게시글을 올리는 것도 가능합니다.<br>

          </td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_15_board1.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_event01.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <tr> 
            <td class="kwon-td03">커뮤니티 메뉴입니다<br>
            공지사항, 자유게시판, Book-Share, 질문게시판으로 되어 있습니다.<br>
            Book-Share같은 경우는 공부하다 안 쓰는 책을 무료나눔하는 용도로 만들었습니다.<br>
            질문게시판은 에러나 공부하다 모르는 부분을 질문할 때 쓰는 용도입니다.</td>
            <td class="kwon-td03">EVENT 페이지입니다.<br>
            세미나, 웨비나 등과 같은 정보를 공유하는 페이지입니다.<br>
            글은 우선은 관리자만 쓸 수 있도록 만들었습니다.<br>
            최근게시물, 검색, 태그 기능을 넣었습니다.</td>
          </tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_16_myPage.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_17_myPage2.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <tr> 
            <td class="kwon-td03">마이페이지입니다.<br>
                마일리지, 개인정보수정, 가입한 스터디리스트, 위시리스트 탭으로 구성되었습니다.<br>
                마일리지(호두)는 사이트 내 재화와 같은 용도입니다.</td>
            <td class="kwon-td03">개인정보 수정입니다.<br>
              회원가입과 같은 모양이고, 개인 프로필사진을 추가할 수 있습니다.</td>
          </tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_18_myPage3.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_18_호두충전.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <tr> 
            <td class="kwon-td03">가입한 스터디 리스트, 위시리스트를 볼 수 있습니다.<br>
                자신의 호텔예약 내역을 보여주고, 문의내역도 확인이 가능합니다.</td>
            <td class="kwon-td03">마일리지 충전은 아임포트API를 사용했습니다.<br>
              카카오페이로 충전하는 모습입니다.
            </td>
          </tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/final/doit_20_myList01.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/final/doit_20_myList02.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <tr> 
            <td class="kwon-td03">마이페이지-마이리스트입니다.<br>
              자신이 쓴 글을 확인할 수 있습니다.<br>
            </td>
            <td class="kwon-td03">Book-Share에 쓴 글을 확인할 수 있습니다.
            </td>
          </tr>
          




        </table>
      </div>
      <div id="myModalPetner1" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_02_join01.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner2" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_03_join02.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner3" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_04_loginmain.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner4" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_06_message02.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner5" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_07_studyList.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner6" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_08_studyDetail01.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner7" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_09_studyDetail02.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner8" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_10_studyDetail03.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner9" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_11_studyDetail04.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner10" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_12_studyDetail05.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner11" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_14_studyCannot.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner12" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_13_studyEtc.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
            <div id="myModalPetner13" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_15_board1.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner14" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_event01.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner15" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_16_myPage.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner16" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_17_myPage2.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner17" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_18_myPage3.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner18" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_18_호두충전.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner19" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_20_myList01.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModalPetner20" class="myModalPetner">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/final/doit_20_myList02.JPG" onClick="close_popPetner();"></div></td>
          </tr>
        </table>
      </div>


        
    </section>



    <hr class="m-0">

    <!--
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="mycode">
      <div class="container">
      <div class="w-100">
        <h2 class="mb-5">mycode</h2>
        <p>세미때 맡은 파트는 AMDIN 페이지였습니다. 주요 기능은
          <ul>
            <li>현재 매장 등록수, 타입별 매장 등록수, 회원수, 최근 접속자 수, 총 접속자 수 등을 확인 할 수 있습니다.</li>
            <li>매장을 추가할 수 있고, 내용변경, 사진변경, 삭제 등을 할 수 있습니다.</li>
            <li>회원목록과 펫 목록을 확인할 수 있습니다. 삭제는 불가능하게 되어 있습니다.</li>
            <li>예약목록을 볼 수 있습니다.</li>
            <li>NOTICE, FAQ, QNA의 리스트를 볼 수 있습니다.</li>
          </ul>
        </p>
      </div>
      <div>
      <div class="w-100 thumbnailBody">
        <table>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/petner_14.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/ADMIN_101.jpg" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">ADMIN 페이지 메인입니다. <br>
              기본적인 정보를 시각적으로 보여줍니다.
              최근 접속자 수, 총 접속자 수는 SessionListener로 구현했습니다.<br>
              </td>
            <td class="kwon-td03">로그인 세션이 시작되면 SessionListener가 작동합니다<br>
                기능은 현재의 날짜를 VISIT 테이블에 적용시킵니다.<br>
                그 후 COUNT(*)로 총 접속자 수를 카운트합니다.<br>
                최근 일주일간의 접속자 수는 각 날짜별로 COUNT(*)한 뒤 그 숫자를 가져옵니다.
                </td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/petner_admin2.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/petner_admin3.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">
                매장 추가하기 기능입니다.<br>
                라디오 버튼으로 타입을 정한 뒤 매장명, 주소, 전화번호, 메인사진 등을 입력해 줍니다.<br>
                매장추가는 매장회원이 아닌 운영자가 직접 추가하는 방법을 사용했는데 운영자가 매장의 정확한 정보를 확인 한 후 추가한다는 컨셉이었습니다.<br>
                </div>
              </td>
            <td class="kwon-td03">ADMIN 페이지에서는 주로 DB에서 리스트를 가져옵니다.<br>
                매장을 추가한 뒤에 매장정보 수정, Detail 정보 추가,수정이 가능합니다.<br>
                매장 Detail은 앞의 HOTEL등 메뉴의 리스트에 나온 매장을 클릭한 뒤 들어가는 정보들을 추가해 줍니다.<br>
            </td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/petner_admin4.JPG" class="kwon-img03 modal-img03"></td>
            <td class="kwon-td02"><img src="../resources/img/petner_admin5.JPG" class="kwon-img03 modal-img03"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">
                매장 Detail 수정 화면입니다.<br>
                매장에 오는 방법등이 있고, 정확한 주소를 적은 뒤 좌표값 검색 버튼을 누르게 되면 지도에 사용하는 X,Y축 정보가 나타납니다.<br>
                좌표를 DB에 저장한 뒤 호텔 Detail 화면에서 매장의 지도위치를 보여주는 방법을 사용하고 있습니다.<br>
                좌표검색 기능은 KakaoMap API를 사용했습니다.

                </div>
              </td>
            <td class="kwon-td03">매장 Detail의 Servlet 코드입니다.<br>
                파일업로드 처리가 되어있고, 최대 3장의 사진을 넣을 수 있도록 구성했습니다.<br>
                여러개의 사진업로드 기능을 가진 라이브러리를 사용하고 싶었지만 그 당시에는 실력이 부족해서 그냥 한 컬럼당 1개의 사진만 올릴 수 있는 방식으로 우회했습니다.<br>
            </td>
          </Tr>

        </table>
      </div>

    </div>
    </section>
    <div id="myModalPetner21" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/petner_14.JPG" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModalPetner22" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/ADMIN_101.jpg" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModalPetner23" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/petner_admin2.JPG" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModalPetner24" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/petner_admin3.JPG" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModalPetner25" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/petner_admin4.JPG" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModalPetner26" class="myModalPetner">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-contentPetner"><img class="modal-img-petner" src="../resources/img/petner_admin5.JPG" onClick="close_popPetner();"></div></td>
        </tr>
      </table>
    </div>

  </div>
  <br>
  <hr class="m-0">  -->


  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="review">
    <div class="w-100">
      <h2 class="mb-5">REVIEW</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">소감</h3>
          <div class="subheading mb-3"></div>
          <p>
            팀장을 맡아서 한 프로젝트<br>
            기획부터 화면구현, DB설계, 코드까지 팀원들의 도움이 컸던 것 같다.<br>
            세미 때 보다는 좀 더 편하게 프로젝트를 수행할 수 있었던 건 팀원들이 적극적이어서 그랬던 것 같다.<br>
            깃허브를 관리하면서 충돌도 많이 나고, 필요한 부분은 손으로도 합치고 하면서 깃에대해 좀 더 이해한 것 같다.<br>
            맡았던 파트는 커뮤니티 부분, 이벤트 부분, 그리고 이것저것 헬프를 요청한 팀원들을 도와주었다.<br>
            취업준비다 뭐다 하면서 생각보다 많은 부분에 손을 대진 못한 게 조금 아쉽다<br>
            아마 팀장이 아닌 팀원이었다면 좀 더 코드에만 신경을 썼을테지만 약간이나마 리더 역할을 하면서 팀의 균형에 대해 공부한 것 같다.


          </p>
        
        </div>
      </div>


    </div>
  </section>





  <!-- Bootstrap core JavaScript -->
  <script src="../resources/vendor/jquery/jquery.min.js"></script>
  <script src="../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../resources/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../resources/js/resume.min.js"></script>
  <script src="../resources/js/image.js"></script>

  <br><br><br><br>
  <br><br><br><br>
</body>

</html>
