<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>미니 프로젝트 - KH아웃렛</title>

  <!-- Bootstrap core CSS -->
  <link href="../resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="../resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../resources/css/resume.css" rel="stylesheet">
  <link href="../resources/css/modal.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Mini Project</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../resources/img/mini_logo.JPG" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="../index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#MiniProject">Mini Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#mycode">mycode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#review">review</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="MiniProject">
      <div class="w-100">
        <h1 class="mb-0"><span class="kwon-01">Mini Project</span><br>
          <span class="text-primary">KH아웃렛</span>
        </h1>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">ABOUT</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Mini Project</h3>
            <div class="subheading mb-3"></div>
            <div>구현기간 : <span class="text-primary">2019-11-11 ~ 2019-11-18</span></div><br>
            <p>주제 : 'KH아웃렛'이라는 가상의 아웃렛 소개 및 매장안내, 주차등 고객편의를 위한 프로그램</p>
            <p>&lt;개발환경&gt;<br>language : JAVA<br>IDE : eclipse<br>etc : SWING GUI
            </p>

          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">



    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Project">
      <div class="container">
      <div class="w-100 thumbnailBody">
        <h2 class="mb-5">Project</h2>
        
        <table>
          <tr>
            <td><img src="../resources/img/mini_main.JPG" class="kwon-img01"></td>
          </tr>
          <tr>
            <td class="kwon-td01">프로젝트 메인 화면입니다.<br>
              주요 기능으로는 주차관련, 매장안내, 이벤트안내, 매장검색이 있습니다.</td>
          </tr>
        </table>

        <table>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/mini_store01.JPG" class="kwon-img02 modal-img02" onclick="full_scr1();"></td>
            <td class="kwon-td02"><img src="../resources/img/mini_store02.JPG" class="kwon-img02 modal-img02" onclick="full_scr2();"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">매장안내 버튼을 누르면 나오는 화면입니다.<br>각 층에 어떤 매장이 있는지를 알려줍니다.</td>
            <td class="kwon-td03">매장 세부내용입니다. 지도, 로고, 매장위치, 전화번호,<br> 운영시간등을 표시해 줍니다.</td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/mini_store03.JPG" class="kwon-img02 modal-img02" onclick="full_scr3();"></td>
            <td class="kwon-td02"><img src="../resources/img/mini_store04.JPG" class="kwon-img02 modal-img02" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">만약 매장이 음식점일 경우, 예약주문이 가능합니다.</td>
            <td class="kwon-td03">기본적인 가격표와 수량을 정한 후 주문 가능합니다.</td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/mini_store05.JPG" class="kwon-img02 modal-img02" onclick="full_scr5();"></td>
            <td class="kwon-td02"><img src="../resources/img/mini_store06.JPG" class="kwon-img02 modal-img02" onclick="full_scr6();"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">이벤트, 행사 안내입니다.</td>
            <td class="kwon-td03">매장검색 화면입니다.<br> 매장 이름과 카테고리별로 검색을 할 수 있습니다.
                    <br>매장 선택후 선택매장 조회를 누르면 상세페이지로 이동합니다.</td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/mini_store07.JPG" class="kwon-img02 modal-img02" onclick="full_scr7();"></td>
            <td class="kwon-td02"><img src="../resources/img/mini_store08.JPG" class="kwon-img02 modal-img02" onclick="full_scr8();"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">주차 선예약 기능입니다.</td>
            <td class="kwon-td03">주차 예약 후 주차를 합니다.<Br>
              주차 후 주차자리확인, 선결제 후 출차. 등 가능합니다.</td>
          </Tr>



        </table>
      </div>
      <div id="myModal1" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store01.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal2" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store02.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal3" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store03.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal4" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store04.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal5" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store05.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal6" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store06.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal7" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store07.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
      <div id="myModal8" class="myModal">
        <table>
          <tr> 
            <td class="md-content"><div class="modal-content"><img src="../resources/img/mini_store08.JPG" onClick="close_pop();"></div></td>
          </tr>
        </table>
      </div>
        
    </section>



    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="mycode">
      <div class="container">
      <div class="w-100">
        <h2 class="mb-5">mycode</h2>
        <p>제가 맡은 파트는 주차관련 기능 파트였습니다. 주요 기능은
          <ul>
            <li>차량이 있을 경우 -> 우선예약 기능</li>
            <li>초록색 자리가 있을 경우 -> 차량번호, 이름, 전화번호로 예약</li>
            <li>차량을 주차한 후, 차량번호 or 전화번호로 주차위치 확인 가능(이름은 동명이인으로 제외)</li>
            <li>차량 주차위치 확인 후 뒤로가기 or 출차가능</li>
            <li>사전출차시 시간을 계산하여 요금계산, 15분(혹은 설정한 시간)이내로 출차를 요청하는 알림</li>
          </ul>
        </p>
      </div>
      <div>
      <div class="w-100 thumbnailBody">
        <table>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/parking01.JPG" class="kwon-img02 modal-img02"></td>
            <td class="kwon-td02"><img src="../resources/img/parking02.JPG" class="kwon-img02 modal-img02"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">주차데이터관리는 .dat파일을 만들어서 그 안에 쌓이도록 하였습니다.<br>
              또한, 주차관련 데이터가 변경될 때는 ObjectIntputStream("first.dat")파일을 불러온 후, 값 변경<br>
              그리고 그 값을 다시 ObjectOutputStream("first.dat")으로 저장합니다.</td>
            <td class="kwon-td03">주차 자리가 비어있나 확인 후<br> 비어있으면 초록색, 차 있으면 붉은색으로 표시합니다.<br>
                  비어있는 공간을 누르면 값 입력 후 , 저장합니다.</td>
          </Tr>
          <tr class="kwon-tr02">
            <td class="kwon-td02"><img src="../resources/img/parking03.JPG" class="kwon-img02 modal-img02"></td>
            <td class="kwon-td02"><img src="../resources/img/parking04.JPG" class="kwon-img02 modal-img02"></td>
          </tr>
          <Tr>
            <td class="kwon-td03">주차 자리를 찾아주는 메소드<br>
              전화번호 값, 차량번호 값 둘 중 하나만 들어오면 찾기 메소드 실행
              만약 두개의 값이 모두 없으면 "잘못 입력하셨습니다" 출력<br>
              값을 입력받은 후, 값이 null이 아니고, 맞는 값이 있으면 true 반환<br>
              null값이 아니지만, 맞는 값이 없으면 "차량을 찾을 수 없습니다" 출력<br>
              </td>
            <td class="kwon-td03">주차자리 확인 후, 혹은 주차요금 정산을 누르면<br>
              주차요금 정산 페이지로 이동<br>
              주차예약을 할 때 저장해놓은 시간과<br>
              현재 시간을 비교한 뒤에, 30분마다 1000원씩 부과<br>
            </td>
          </Tr>
        </table>
      </div>

    </div>
    </section>
    <div id="myModal9" class="myModal">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-content"><img src="../resources/img/parking01.JPG" onClick="close_pop();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModal10" class="myModal">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-content"><img src="../resources/img/parking02.JPG" onClick="close_pop();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModal11" class="myModal">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-content"><img src="../resources/img/parking03.JPG" onClick="close_pop();"></div></td>
        </tr>
      </table>
    </div>
    <div id="myModal12" class="myModal">
      <table>
        <tr> 
          <td class="md-content"><div class="modal-content"><img src="../resources/img/parking04.JPG" onClick="close_pop();"></div></td>
        </tr>
      </table>
    </div>
  </div>
  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="review">
    <div class="w-100">
      <h2 class="mb-5">REVIEW</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">소감</h3>
          <div class="subheading mb-3"></div>
          <p>
            처음 자바를 배운지 1달이 조금 넘었을 즈음 미니프로젝트 시작<br>
            아마 제대로 된 프로젝트를 들어가기 전 프로젝트가 어떤건지 맛을 보라는 선생님의 의도였던 것 같다.<br>
            또한 지금까지 배운 것들을 제대로 사용해보라는 것이었을지도..<Br>
            단순히 자바만을 가지고 프로그래밍, 화면출력은 Swing GUI를 사용<br><br>
            좋지 않은 실력이었지만 너무도 조용한 우리 조원들 중에 그나마 말이라도 한다는 이유로 추천받은 조장..<br>
            비전공자에 처음 해보는 프로젝트라 시작하기전에 잠도 제대로 못 잤지만 며칠만에 제대로 된(?) 결과물이 나왔다<br>
            생각보다 빠른 시간에 만들어졌고 마음만 앞서는 조장을 잘 도와준 조원들께 고마울 뿐이었다.
          
          </p>
        
        </div>
      </div>


    </div>
  </section>





  <!-- Bootstrap core JavaScript -->
  <script src="../resources/vendor/jquery/jquery.min.js"></script>
  <script src="../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../resources/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../resources/js/resume.min.js"></script>
  <script src="../resources/js/image.js"></script>

  <br><br><br><br>
  <br><br><br><br>
</body>

</html>
